/* ------ START GENERAL ------ */
* {
  margin: 0;
  padding: 0;
  font-family: 'Tajawal', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none; }

body {
  transform-style: preserve-3d; }

.container {
  width: 95%;
  max-width: 60em;
  margin: 0 auto; }

h2 {
  margin-bottom: .7em;
  font-weight: normal;
  font-size: 2rem;
  letter-spacing: .3em; }

/* ------ END GENERAL SECTION ------ */
/* ------ START HEADER ------ */
header {
  background-color: #233d61;
  position: relative;
  transform: translate3d(0, 0, 1px); }
  header .container {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  header .logo {
    width: 5.5em;
    height: 5.5em;
    position: absolute;
    left: 22em;
    top: .4em; }
  header nav ul {
    margin: 0;
    padding: 0; }
  header nav li {
    display: inline-block;
    padding: 1.3em 1em .9em 0; }
  header nav li:last-child {
    padding: 1.3em 0 1em 0; }
  header nav a {
    color: #EDEDED;
    font-size: 1.6rem; }

/* ------ END HEADER SECTION ------ */
/* ------ START INTRO SECTION ------ */
.intro-section {
  background-image: url(../img/intro.jpg);
  height: 50em;
  position: relative; }
  .intro-section .intro-text-box {
    background: center rgba(35, 61, 97, 0.7);
    background-attachment: scroll;
    width: 30em;
    padding: 3em 4em 3.75em 4em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
    .intro-section .intro-text-box h1 {
      margin: 0;
      color: #FA7E6F;
      font-size: 1.8em; }
    .intro-section .intro-text-box p {
      color: #ededed;
      margin: 1.5em 0 3em 0;
      line-height: 1.5;
      letter-spacing: .125em; }
    .intro-section .intro-text-box a {
      color: #6CC1C7;
      text-decoration: none;
      border: 3px solid #CEAEA3;
      padding: .7em 1em .5em 1em;
      letter-spacing: .125em; }

/* ------ END INTRO SECTION ------ */
/* ------ START ABOUT SECTION ------ */
.about-section {
  position: relative;
  padding: 8em 0; }
  .about-section .about-box {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    transform: translate3d(0, 0, 1px); }
    .about-section .about-box .img-box {
      display: flex;
      flex-wrap: wrap;
      width: 50%; }
      .about-section .about-box .img-box img {
        width: 50%;
        height: auto; }
    .about-section .about-box .about-text-box {
      width: 50%;
      background-color: #FA7E6F;
      padding: 3em 4em; }
      .about-section .about-box .about-text-box h2 {
        color: #F0DD78; }
      .about-section .about-box .about-text-box p {
        color: #FFFFFF;
        line-height: 1.5;
        letter-spacing: .1em; }
  .about-section .intro-blue-bg {
    background-color: #233D61;
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0; }
  .about-section .intro-ligth-grey-bg {
    background-color: #F7F7F7;
    height: 50%;
    width: 100%;
    position: absolute;
    bottom: 0; }

/* ------ END ABOUT SECTION ------ */
/* ------ START MENU SECTION ------ */
.menu-section {
  display: flex;
  flex-direction: row; }
  .menu-section .menu-text-box {
    background-color: #6CC1C7;
    width: 50%;
    padding: 3em 12em; }
    .menu-section .menu-text-box h2 {
      color: #FA7E6F; }
    .menu-section .menu-text-box p {
      color: #fff;
      padding-right: 1.3em;
      line-height: 1.5;
      letter-spacing: .1em; }
  .menu-section .slider {
    background-color: #6e8387;
    width: 50%;
    height: 17.4em; }

/* ------ START MENU SECTION ------ */
.order-section {
  color: #7A7878;
  letter-spacing: .1em;
  position: relative; }
  .order-section .order-text-box {
    border: 1px solid #7A7878;
    padding: 4em 10em;
    margin: 10em auto;
    text-align: center;
    width: 50em;
    transform: translate3d(0, 0, 1px); }
    .order-section .order-text-box h2 {
      margin: 0; }
    .order-section .order-text-box p {
      margin: 3em 0 4em 0; }
    .order-section .order-text-box a {
      border: 1px solid #7A7878;
      color: #7A7878;
      padding: .6em 1.4em; }
  .order-section .light-blue-bg {
    background-color: #C6DBFA;
    width: 35em;
    height: 35em;
    position: absolute;
    right: 12em;
    top: -4.5em; }
  .order-section .beige-bg {
    background-color: #CEAEA3;
    width: 20em;
    height: 20em;
    position: absolute;
    left: 27.5em;
    top: 2.5em; }

/* ------ END MENU SECTION ------ */
/* ------ START FOOTER ------ */
footer {
  background-color: #CEAEA3;
  color: #fff;
  padding: 8em 0; }
  footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  footer .footer-box p {
    padding-bottom: 3em; }
  footer .footer-box p:last-child {
    padding-bottom: 0; }

/* ------ END FOOTER ------ */

/*# sourceMappingURL=sstyle.css.map */
